.foundation {
  top: 3112px;
  left: 0;
  width: 100%;
  height: 862px;
  position: absolute;
  .container {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .header {
        font-size: 38px;
      }
      .decoration {
        margin-top: 40px;
      }
      .description {
        font-size: 22px;
        width: 50%;
        text-align: center;
        margin-bottom: 30px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 60px 0;
        .button {
          width: 18%;
          font-size: 24px;
          text-align: center;
          padding: 15px;
        }
      }
    }
    .items {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 0;
        &:first-child {
          border-bottom: 1px solid black;
        }
        &:nth-child(2) {
          border-bottom: 1px solid black;
        }
        .itemWrapper {
          p {
            &:first-child {
              font-size: 26px;
              margin-bottom: 5px;
            }
            &:last-child {
              font-size: 18px;
            }
          }
        }
        p {
          font-size: 18px;
        }
      }

    }
    .pages {
      display: flex;
      width: 10%;
      li {
        padding: 10px;
        + li {
          margin-left: 25px;
        }
      }
    }
  }
}