.loginNav {
  text-align: right;
  padding-top: 46px;
  left: 1600px;
  text-decoration: none;
  height: 18px;
  li {
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
    a {
      text-decoration: none;
      color: #737373;
    }
    &:nth-child(2){
      padding: 4px;
    }
  }
}
.active {
  border: 1px solid yellow;
  padding: 5px;
}
.logout {
  border: none;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}