.imageContainer {
  top:0;
  left: -300px;
  position: absolute;
  .image {
    width: 885px;
    height: 963px;
  }
}
.content {
  top: 342px;
  left: 952px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}
.welcome {
  font-size: 36px;
  width: 672px;
  height: 107px;
  text-align: center;
  letter-spacing: -0.76px;
  color: #3C3C3C;
}
.decoration {
  width: 253px;
  height: 33px;
  margin-bottom: 60px;
}
.links {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #3C3C3C;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    font-size: 36px;
    border: 0.75px solid #3C3C3C;
    width: 45%;
    &:nth-child(1) {
      a {
        padding: 13px 93px;
      }
    }
    &:nth-child(2) {
      a {
        padding: 13px 51px;
      }
    }
  }
}
//test