.localization {
  font-size: 36px;
  margin-bottom: 20px;
}
.select {
  width: 300px;
  height: 50px;
  background-color: #EFEDE9;
  border: 1px solid black;
  font-size: 24px;
  margin-bottom: 40px;
}
.help {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.organizationName {
  display: flex;
  flex-direction: column;
  label {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  input {
    width: 540px;
    height: 40px;
  }
}

.checkboxes {
  margin-bottom: 60px;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
   background-color: #FAD648;
  }
  div {
    &:first-child {
      margin-bottom: 40px;
    }
  }
  label {
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-right: 20px;
  }
 }